* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aqua;
}

.box {
    height: 100px;
    width: 100px;
    color: antiquewhite;
    margin: 10px;
    border: solid;
    color: black;
}
h3 {
    height: 100px;
    width: 100px;
    background-color: red;
    color: black;
}
#anish {
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
}
.mode {
    background-color: red;
    color: aliceblue;
}
